$mainColor: #fff;
$red: #F00;
$half: 50%;
$Barlow: 'Barlow', sans-serif;
$PtSansNarrow: 'PT Sans Narrow', sans-serif;
$Raleway: 'Raleway', sans-serif;
$Staatliches: 'Staatliches', sans-serif;
$triangleSize: 30px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$text: value="text";
$submit: value="submit";

@mixin flexRow() {
    display: flex;
    flex-direction: row;
    @content
}

@mixin flexColumn() {
    display: flex;
    flex-direction: column;
    @content
}

@mixin flexAllCenter() {
    justify-content: center;
    align-items: center;
    @content
}

@mixin easeInOut($transition) {
    transition: $transition;
    @content
}


*, *::after, *::before {
    box-sizing: border-box;
}

header {
    background: url('../images/dark-texture-bkg.jpg');
    background-size: cover;
}

.jumbotron {
    display: none;
}

.hideBrOnMobile {
    display: none;
}

.hideBrOnDesk {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $Barlow;
}

h1 {
    text-align: center;
    font-weight: 600;
}

p, a, button {
    font-size: 0.75rem;
    font-weight: 500;
    font-family: $Raleway;
}

.navbar {

    //background-color: #fff;

    .nav-link {
        text-align: center;
        font-family: $Barlow;

    }

    .navbar-nav {
        margin: 0 auto;
    }

    .navbar-brand {
        img {
            width: 100px;
        }
    }

}

#upperHeader {

    @include flexColumn();
    @include flexAllCenter();
    background: url('../images/dark-texture-bkg.jpg');
    background-size: cover;

    img {
        width: 250px;
    }

    h1 {
        font-family: $Staatliches;
        text-align: center;
        color: $red;
    }

}

#welcome {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // background: url('../images/placeholder/wide.png');
    // background-size: cover;
    height: 40vh;
    overflow: hidden;
    position: relative;
    z-index: 0;
    width: 100vw;

    h1 {
        position: absolute;
        top: $half;
        left: $half;
        transform: translate(-$half, -$half);
        text-transform: uppercase;
        text-align: center;
        z-index: 2;
        //padding: 50px;
    }

    video {
        position: absolute;
        top: $half;
        // right: 0;
        // bottom: 0;
        left: $half;
        transform: translate(-$half, -$half);
        overflow: hidden;
        z-index: 1;
        width: 65%;
        height: auto;
    }
    
    .pausePlay {
        background-color: rgb(238,226,220);
        width: 40px;
        height: 40px;
        color: rgb(18,60,105);
        border-radius: $half;
        //cursor: pointer;
        position: absolute;
        bottom: 30px;
        right: 20px;
    
        &:hover {
            background-color: rgb(238,226,220);
            color: rgb(18,60,105);
            box-shadow: 0px 5px 15px 0px #373737;
            cursor: pointer;
        }
    }
    .fa-pause {
        z-index: 11;
        padding: 12px 14px;
    }
    .fa-play {
        z-index: 9;
        padding: 11px 15px;
    }
}

#about {

    .tuRandomImg { 

        @include flexColumn();
        @include flexAllCenter();

        img {
            max-height: 500px;
        }
    }

    .intro {
        @include flexColumn();
        @include flexAllCenter();

        p {
            line-height: 2;

        }

    }

}

#camp {

    background: url("../images/camp/image9.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    
    .container {
        @include flexColumn();
        @include flexAllCenter();
        background-color: rgba(2,0,36,0.5);
        border-radius: 5px;
        color: white;
    }

    i {
        text-align: center;
        font-size: 2rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .buttons {
        @include flexColumn();
        align-items: center;
        justify-content: space-around;
        //width: 600px;

        button {
            border-radius: 5px;
            padding: 5px 15px;
            
            &:Hover {
                text-decoration: none;
            }
        }
    }

    p {
        text-align: center;
    }
    .modal-title {
        color: #000;
    }

    .arrow-up {
        position: absolute;
        bottom: 0;
        left: $half;
        transform: translateX(-$half);
        width: 0; 
        height: 0; 
        border-left: $triangleSize solid transparent;
        border-right: $triangleSize solid transparent;    
        border-bottom: $triangleSize solid rgb(2,0,36);
    }
}

#gallery {
    background-color: rgb(2,0,36);
    position: relative;

    .closeWindow {
        position: absolute;
        top: 20px;
        right: 20px;
        color: rgba(255,255,255,0.5);
        font-size: 36px;

        &:hover {
            color: #fff;
            transition: all 0.3s;
            cursor: pointer;
        }
    }

    h2, p {
        color: #fff;
    }
    
}

#shop {

    background-color: #fffafa;
    position: relative;

    .comingSoon {
        color: #fff;
        background-color: rgba(2,0,36,0.5);
        position: absolute;
        z-index: 10;
        top: $half;
        left: $half;
        transform: translate(-$half, -$half);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 4rem;
        }
    }

    .shopItem {
        @include flexColumn();
        @include flexAllCenter();
        border: 2px solid #ccc;
        border-radius: 5px;
        box-shadow: 5px 5px 15px 0px #ccc;
        width: 75%;
        margin: 0 auto;

        img {
            max-width: 55%;
        }
        
        h5, p {
            text-align: center;
            font-family: $PtSansNarrow;
        }

        .itemPrice {
            font-weight: 800;
        }

    }
}

#contact {
    .container {
        @include flexColumn();
        @include flexAllCenter();
    }
    form {
        @include flexColumn();
        @include flexAllCenter();
        width: 85%;
    }
    fieldset {
        width: 95%;
    }
    input[type="text"],
    textarea, button[value="submit"] {
        width: 100%;
        border-radius: 5px;
    }
    input {
        margin-bottom: 15px;
    }
    input, textarea,
    input:focus,
    textarea:focus,
    button[value="submit"]:hover {
        @include easeInOut(.3s ease-in-out);
    }
    .alertMessage {
        color: red;
    }
    button[value="submit"]:hover {
        transform: scale(1.01);
    }
}

@media (min-width: $breakpoint-desktop) {

    p, a, button {
        font-size: 1rem;
        font-weight: 400;
    }

    .hideBrOnMobile {
        display: block;
    }
    
    .hideBrOnDesk {
        display: none;
    }

    header {
        background: url('../images/dark-texture-bkg.jpg');
        background-size: cover;

        .navbar {
            background: none;

            .navbar-brand {
                display: none;
            }

            .navbar-nav {
                /////////////////////
                a {
                    position: relative;
                    display: inline-block;
                    margin: 15px 25px;
                    outline: none;
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-weight: 400;
                    text-shadow: 0 0 1px rgba(255,255,255,0.3);
                    font-size: 1.35em;
                }
        
                a {
                    padding: 0 20px;
                    height: 45px;
                    line-height: 45px;
                }
        
                a::before,
                a::after {
                    position: absolute;
                    width: 45px;
                    height: 2px;
                    background: #fff;
                    content: '';
                    opacity: 0.2;
                    transition: all 0.3s;
                    pointer-events: none;
                }
        
                a::before {
                    top: 0;
                    left: 0;
                    transform: rotate(90deg);
                    transform-origin: 0 0;
                }
        
                a::after {
                    right: 0;
                    bottom: 0;
                    transform: rotate(90deg);
                    transform-origin: 100% 0;
                }
        
                a:hover::before,
                a:hover::after,
                a:focus::before,
                a:focus::after {
                    opacity: 1;
                }
        
                a:hover::before,
                a:focus::before {
                    left: $half;
                    transform: rotate(0deg) translateX(-$half);
                }
        
                a:hover::after,
                a:focus::after {
                    right: $half;
                    transform: rotate(0deg) translateX($half);
                }
        
                .active::before,
                .active::after {
                    opacity: 1;
                }
        
                .active::before {
                    left: $half;
                    transform: rotate(0deg) translateX(-$half);
                }
        
                .active::after {
                    right: $half;
                    transform: rotate(0deg) translateX($half);
                }
        
                /////////////////////////
            }

        }
    } 
    
    .jumbotron {
        display: block;
    }

    #about {

        position: relative;

        .intro {
            p {
                padding: 0 5rem;
                text-align: justify;
            }
        }

        .vl {
            position: absolute;
            border-left: 2px solid #ccc;
            height: 400px;
            left: $half;
            margin-left: -1px;
            top: $half;
            transform: translateY(-$half);
        }
    }

    #camp {

        i {
            font-size: 3rem;
        }

        h1 {
            font-size: 2.5rem;
        }

        .buttons {
            flex-direction: row;
            width: 600px;
    
        }
    }

    #shop {

        .shopItem {

            img {
                max-width: 75%;
            }

        }

    }

    #contact {
        form {
            width: 55%;
        }
    }
    
}
